#TMSH-VERSION: 17.5.1.3

cli admin-partitions {
    update-partition Common
}
sys application template /Common/Mitchell1_VIP_Deployment {
    actions {
        definition {
            html-help {
            }
            implementation {
                tmsh::include "f5.app_utils"

tmsh::log_dest file
tmsh::log_level crit


proc tmsh_create { component arguments } {
    regsub -all {\"} $arguments "\\\"" arguments
    regsub -all {\[} $arguments "\\\[" arguments
    regsub -all {\]} $arguments "\\\]" arguments
    regsub -all {\$} $arguments "\\\$" arguments
    tmsh::run_proc f5.app_utils:do_tmsh_create "\"$component\"" "\"$arguments\""
}


proc asm_policy_for_virtual { virtual_name selected_policy } {
    if { ($selected_policy == "") || ($selected_policy == " ") } {
        return ""
    }
    set l7_policy "asm_auto_l7_policy__$virtual_name"
    tmsh_create "/ ltm policy" "$l7_policy legacy controls replace-all-with \{ asm \} requires replace-all-with \{ http \} rules replace-all-with \{ default \{ ordinal 1 actions replace-all-with \{ 1 \{ asm enable policy $selected_policy \} \} \} \} strategy first-match"
    return "policies replace-all-with \{ $l7_policy \}"
}

if { $configuration__snat == "Yes" } {set snat "snat automap"} else {set snat "snat none"}
set has_asm_policy [expr {($configuration__asmpolicy != "") && ($configuration__asmpolicy != " ")}]

foreach portitem $::configuration__ports  {
    if { [tmsh::get_field_value $portitem allowall] } {
        tmsh_create "/ security firewall policy" "$tmsh::app_name-fw-po rules replace-all-with { allow-all { action accept }}"
        set ruleset "fw-enforced-policy $tmsh::app_name-fw-po"
    } else {
        set ruleset ""
    }

    set members ""
    set sslprofile ""
    set profiles "profiles replace-all-with \{ tcp \{ \}\}"
    if { [tmsh::get_field_value $portitem sslprofile] != "" } {set sslprofile "[tmsh::get_field_value $portitem sslprofile] \{  context clientside\} http \{ \} serverssl-insecure-compatible \{ context serverside\}"}
    if { [tmsh::get_field_value $portitem port] == "80" } {set profiles "profiles replace-all-with \{ http \{ \} tcp \{ \} \} "}
    if { [tmsh::get_field_value $portitem port] == "443" || [tmsh::get_field_value $portitem port] == "443" } {set profiles "profiles replace-all-with \{  tcp \{ \} $sslprofile\} "}
    if { [tmsh::get_field_value $portitem port] == "21" } {set profiles "profiles replace-all-with \{ ftp \{ \} tcp \{ \}\} source-port change"}
    if { $has_asm_policy } {
        set profile_suffix ""
        if { [regexp { source-port change$} $profiles] } {
            set profile_suffix " source-port change"
            regsub { source-port change$} $profiles "" profiles
        }
        set profiles [string trimright $profiles]
        if { [string first {http { }} $profiles] == -1 } {
            set profiles "[string range $profiles 0 end-1] http \{ \} \}"
        }
        if { [string first {websecurity { }} $profiles] == -1 } {
            set profiles "[string range $profiles 0 end-1] websecurity \{ \} \}"
        }
        append profiles $profile_suffix
    }

    set irules "rules \{ $configuration__irules \}"


    foreach member $::configuration__backendservers  {
        append members "[tmsh::get_field_value $member backendip]:[tmsh::get_field_value $portitem port]  \{ address [tmsh::get_field_value $member backendip]\}"
    }

    if { $configuration__monitoryesno == "Yes" } {   
        tmsh_create "/ ltm pool" "$tmsh::app_name-[tmsh::get_field_value $portitem port] monitor [tmsh::get_field_value $portitem monitor]  members replace-all-with \{$members\}"
    } else {
        tmsh_create "/ ltm pool" "$tmsh::app_name-[tmsh::get_field_value $portitem port] monitor none  members replace-all-with \{$members\}"
    }


    if { $configuration__stagedeployment == "No" } {

        if { $configuration__vipaddress_att != "" } {
            set asm_policy [asm_policy_for_virtual "$tmsh::app_name-att-[tmsh::get_field_value $portitem port]" $configuration__asmpolicy]
            if { ($configuration__redirect == "Yes") && ([tmsh::get_field_value $portitem port] == "443") } {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-att-[tmsh::get_field_value $portitem port] \{destination $configuration__vipaddress_att:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255  $snat  $asm_policy $irules pool $tmsh::app_name-[tmsh::get_field_value $portitem port]  translate-address enabled    translate-port enabled vlans-disabled $ruleset    security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            tmsh_create "/ ltm virtual" "$tmsh::app_name-att-80-redir \{destination $configuration__vipaddress_att:80 ip-protocol tcp profiles replace-all-with \{ http \{ \} tcp \{ \} \}   mask 255.255.255.255   rules \{ _sys_https_redirect \} vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            } else {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-att-[tmsh::get_field_value $portitem port] \{destination $configuration__vipaddress_att:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255  $snat  $asm_policy $irules pool $tmsh::app_name-[tmsh::get_field_value $portitem port]  translate-address enabled    translate-port enabled vlans-disabled $ruleset    security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            }
        }

        if { $configuration__vipaddress_cox_10g != "" } {
            set asm_policy [asm_policy_for_virtual "$tmsh::app_name-cox-10g-[tmsh::get_field_value $portitem port]" $configuration__asmpolicy]
            if { ($configuration__redirect == "Yes") && ([tmsh::get_field_value $portitem port] == "443") } {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-cox-10g-[tmsh::get_field_value $portitem port] \{destination $configuration__vipaddress_cox_10g:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255  $snat  $asm_policy $irules pool $tmsh::app_name-[tmsh::get_field_value $portitem port]  translate-address enabled    translate-port enabled vlans-disabled $ruleset    security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            tmsh_create "/ ltm virtual" "$tmsh::app_name-cox-10g-80-redir \{destination $configuration__vipaddress_cox_10g:80 ip-protocol tcp profiles replace-all-with \{ http \{ \} tcp \{ \} \}   mask 255.255.255.255   rules \{ _sys_https_redirect \} vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            } else {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-cox-10g-[tmsh::get_field_value $portitem port] \{destination $configuration__vipaddress_cox_10g:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255  $snat  $asm_policy $irules pool $tmsh::app_name-[tmsh::get_field_value $portitem port]  translate-address enabled    translate-port enabled vlans-disabled $ruleset    security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            }
        }

        if { $configuration__vipaddress_internal != "" } {
            set asm_policy [asm_policy_for_virtual "$tmsh::app_name-internal-[tmsh::get_field_value $portitem port]" $configuration__asmpolicy]
            if { ($configuration__redirect == "Yes") && ([tmsh::get_field_value $portitem port] == "443") } {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-internal-[tmsh::get_field_value $portitem port] \{destination $configuration__vipaddress_internal:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255  $snat $asm_policy $irules  pool $tmsh::app_name-[tmsh::get_field_value $portitem port]  translate-address enabled    translate-port enabled vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            tmsh_create "/ ltm virtual" "$tmsh::app_name-internal-80-redir \{destination $configuration__vipaddress_internal:80 ip-protocol tcp profiles replace-all-with \{ http \{ \} tcp \{ \} \}   mask 255.255.255.255   rules \{ _sys_https_redirect \} vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            } else {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-internal-[tmsh::get_field_value $portitem port] \{destination $configuration__vipaddress_internal:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255  $snat $asm_policy $irules  pool $tmsh::app_name-[tmsh::get_field_value $portitem port]  translate-address enabled    translate-port enabled vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            }
        }

    } else {

        if { $configuration__vipaddress_internal != "" } {
            scan $configuration__vipaddress_internal %d.%d.%d.%d a b c d
            set asm_policy [asm_policy_for_virtual "$tmsh::app_name-[tmsh::get_field_value $portitem port]" $configuration__asmpolicy]
            if { ($configuration__redirect == "Yes") && ([tmsh::get_field_value $portitem port] == "443") } {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-[tmsh::get_field_value $portitem port] \{destination 172.21.64.$d:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255 $asm_policy $irules   pool $tmsh::app_name-[tmsh::get_field_value $portitem port] snat automap translate-address enabled    translate-port enabled vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            tmsh_create "/ ltm virtual" "$tmsh::app_name-80-redir \{destination 172.21.64.$d:80 ip-protocol tcp profiles replace-all-with \{ http \{ \} tcp \{ \} \}   mask 255.255.255.255   rules \{ _sys_https_redirect \} vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            } else {
            tmsh_create "/ ltm virtual" "$tmsh::app_name-[tmsh::get_field_value $portitem port] \{destination 172.21.64.$d:[tmsh::get_field_value $portitem port] ip-protocol tcp  $profiles   mask 255.255.255.255 $asm_policy $irules   pool $tmsh::app_name-[tmsh::get_field_value $portitem port] snat automap translate-address enabled    translate-port enabled vlans-disabled $ruleset     security-log-profiles replace-all-with \{ m1-base-logging \}\}"
            }
        }

    }

}
            }
            macro {
            }
            presentation {
                include "/Common/f5.apl_common"
 section welcome {
     message welcome "This iApp helps facilitate and manage the deployment of virtual servers at Mitchell 1."
     }



 section configuration {
    choice stagedeployment display "small" default "No" {"Yes", "No"}
    choice snat display "small" default "No" {"Yes", "No"}
    choice redirect display "small" default "No" {"Yes", "No"}
    string vipaddress_att display "medium" default "12.20.179."  validator "IpAddress"
    string vipaddress_cox_10g display "medium" default "72.194.40."  validator "IpAddress"
    string vipaddress_internal display "medium" default "172.21.111."  validator "IpAddress"

	choice monitoryesno display "small" default "Yes" {"Yes", "No"}
 	table ports {
 		string port display "small" required validator "PortNumber"
        choice allowall display "small" default "Yes" {"Yes", "No"}
        optional ( configuration.monitoryesno  == "Yes" ) {
            choice monitor display "xlarge" default " " tcl { tmsh::run_proc f5.app_utils:get_ltm_monitors_filter http https tcp gateway icmp }
	    }
	    choice sslprofile display "xlarge" default " " tcl { 
            set objs [tmsh::run_proc f5.app_utils:get_items /ltm profile client-ssl] 
            foreach obj $objs { 
                append results $obj
                append results "\n"  
            }
            append results " \n"
            return $results 
        }   	
	}
    multichoice irules display "xxlarge" tcl {
        set choices [tmsh::run_proc f5.app_utils:get_items /ltm rule]
        set results2 {}
        foreach choice $choices {
            append results2 $choice
            append results2 "\n"
        }
        return $results2
    }
    choice asmpolicy display "xxlarge" default " " tcl {
        set choices [tmsh::run_proc f5.app_utils:get_items /asm policy]
        set results2 {}
        append results2 " \n"
        foreach choice $choices {
            append results2 $choice
            append results2 "\n"
        }
        return $results2
    }

 	table backendservers {
 		string backendip display "medium" default "10.14.128." required validator "IpAddress"
 	}
}

 text {
     welcome "Welcome to the Mitchell 1 VIP Builder"
     welcome.welcome "Introduction"
     configuration.ports.allowall "Accept All"
     configuration.stagedeployment "Stage this deployment (use temp IPs)"
     configuration.vipaddress_att "VIP Address ATT"
     configuration.vipaddress_cox_10g "VIP Address Cox_10G"
     configuration.vipaddress_internal "VIP Address Internal"
     configuration.ports "Listening on Ports"
     configuration.ports.port "Port"
     configuration.backendservers "Backend Pool Member Addresses"
     configuration.backendservers.backendip "IP Address"
     configuration.monitoryesno "Does this service require a monitor"
     configuration.ports.monitor "Monitor"
     configuration.ports.sslprofile "ClientSSL Profile"
     configuration.snat "Source NAT User when connecting to VIP"
	 configuration.redirect "Create HTTP redirect for HTTPS VIP"
     configuration.irules "iRule(s) applied to VIP"
     configuration.asmpolicy "ASM policy applied to VIP"
}
            }
            role-acl none
            run-as none
        }
    }
    description none
    ignore-verification false
    requires-bigip-version-max none
    requires-bigip-version-min none
    requires-modules none
    signing-key none
    tmpl-checksum none
    tmpl-signature none
}
